html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: normal;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, form {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1;
}

a {
  color: #656565;
}

strong {
  font-weight: bold;
}

sup {
  font-size: 35%;
  line-height: normal;
  vertical-align: top;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  height: auto;
}

*:focus {
  outline: none;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/*------------------*/
/*------------------*/
/*------------------*/
html {
  background: #d9b303;
}

#main_wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background: url("bkgd.jpg") center 0 no-repeat transparent;
  padding: 0 2% 5px;
}

#logo {
  font-weight: 300;
  letter-spacing: -1pt;
  font-size: 35pt;
  padding: 5px 30px 0px;
}
@media screen and (max-width: 768px) {
  #logo {
    text-align: center;
    padding: 5px 0 0;
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  #logo {
    font-size: 19.75pt;
  }
}

#offer_wrapper {
  font-size: 0;
  background: #F0F0F0;
  width: 100%;
  max-width: 1084px;
  margin: 5% auto 3%;
}
@media screen and (max-width: 768px) {
  #offer_wrapper {
    margin: 1% auto 2%;
    /*	width: 96%;*/
  }
}

#product_wrapper, #offer-txt_wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 768px) {
  #product_wrapper, #offer-txt_wrapper {
    width: 100%;
    display: block;
    text-align: center;
    margin: 1%;
  }
}

#product_wrapper img {
  width: 100%;
  max-width: 542px;
  display: none;
  /*@media screen and (max-width: 991px){
  	width: 90%;
  }*/
}
@media screen and (max-width: 768px) {
  #product_wrapper img {
    width: 30%;
  }
}

#offer-txt_wrapper {
  font-size: 14pt;
  padding: 2%;
}
@media screen and (max-width: 1024px) {
  #offer-txt_wrapper {
    padding: 0.5%;
  }
}

#title_wrapper {
  font-family: "Plantagenet Cherokee", serif;
  /*white-space: pre-line;*/
  font-size: 60pt;
  margin: 3% 0 3% -10%;
  line-height: .7;
  padding: 2% 0;
}
@media screen and (max-width: 1280px) {
  #title_wrapper {
    font-size: 55pt;
  }
}
@media screen and (max-width: 1140px) {
  #title_wrapper {
    font-size: 7.0vw;
  }
}
@media screen and (max-width: 768px) {
  #title_wrapper {
    padding: 0;
    white-space: pre-line;
    margin: 2% auto;
    font-size: 25pt;
    width: 100%;
    line-height: 0.8;
    padding: 2%;
  }
}
@media screen and (max-width: 768px) {
  #title_wrapper {
    padding: 0;
    margin: 1% auto;
  }
}
@media screen and (max-width: 601px) {
  #title_wrapper {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  #title_wrapper {
    font-size: 17.75pt;
  }
}
#title_wrapper img {
  width: 100%;
  max-width: 420px;
}
@media screen and (max-width: 768px) {
  #title_wrapper img {
    width: 50%;
  }
}
@media screen and (max-width: 601px) {
  #title_wrapper img {
    width: 60%;
  }
}
@media screen and (max-width: 360px) {
  #title_wrapper img {
    width: 55%;
  }
}
#title_wrapper span:first-of-type {
  font-size: 78%;
}
@media screen and (max-width: 768px) {
  #title_wrapper span:first-of-type {
    font-size: 150%;
  }
}
@media screen and (max-width: 601px) {
  #title_wrapper span:first-of-type {
    font-size: 120%;
  }
}
@media screen and (max-width: 414px) {
  #title_wrapper span:first-of-type {
    font-size: 85%;
  }
}
@media screen and (max-width: 360px) {
  #title_wrapper span:first-of-type {
    font-size: 70%;
  }
}
#title_wrapper .details-apply {
  display: block;
  text-align: right;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  #title_wrapper .details-apply {
    display: inline-block;
    margin-right: 0;
    font-size: 50px;
  }
}
@media screen and (max-width: 601px) {
  #title_wrapper .details-apply {
    font-size: 35px;
  }
}
@media screen and (max-width: 412px) {
  #title_wrapper .details-apply {
    font-size: 20px;
  }
}
#title_wrapper .details-apply a {
  color: #656565;
  font-size: 50%;
}
@media screen and (max-width: 768px) {
  #title_wrapper .details-apply a {
    font-size: 80%;
    margin-left: 10px;
  }
}

#input_wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
}
@media screen and (max-width: 768px) {
  #input_wrapper {
    /*padding: 0 2%;*/
  }
}

#color-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("triangle.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.input {
  border: 1px solid #1c92a0;
  background: #FFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 2.8% 2%;
  width: 100%;
  max-width: 460px;
  height: 60px;
  font-size: 20pt;
  /*	  text-indent: 25%;*/
  margin: 2% auto;
}

.button {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  max-width: 460px;
  /*height: 60px;*/
  background: #1a0d09;
  color: #FFF;
  font-size: 29pt;
  border: none;
  border-bottom: 4px solid #6e6d6d;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2% 0;
  cursor: pointer;
}
.button:hover {
  background: #323232;
}

footer {
  margin: 1% auto;
  text-align: center;
  font-size: 9pt;
}

#details {
  display:none;
  position:absolute;
  background-color:#FFF;
  width:300px;
  z-index:2;
  padding:5px 10px 10px 10px;
  border:1px solid #000;
  font-size:12px;
  color:#000000;
  text-align:left;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight:normal;
  text-decoration:none;
}

#details a {
  color:#0000FF;
}